body {
    font-family: sans-serif;
}

._left-title {
    width: 85px;
    padding-left: 12px;
    line-height: 39px;
    background: #f3f3f3;
}
._first-item {
    padding-left: 40px;
}
._first-input {
    padding-left: 20px;
}
._first-select {
    margin-left: 20px;
}
.row {
    margin-bottom: 20px;
}
._button-row {
    margin-top: 5px;
}
._first-form {
    border-top: 1px solid #DDD;
}
.form,
.form-inline {
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    height: 40.5px;
}
._single-input {
    border-radius: 3px !important;
}

.help-block {
    display: inline-block;
    margin-left: 8px;
    color: #a94442;
}

.loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    color: transparent;
}
.loading:active {
    color: transparent;
}
.loading:hover {
    color: transparent;
}
.loading:focus {
    color: transparent;
}

.no-result {
    border: 1px solid #ddd;
    line-height: 100px !important;
    text-align: center;
}