<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>多重查询</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/non-responsive.css"> -->
    <link rel="stylesheet" href="css/multi_query.css">
    <script src="js/vue.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>LOGO</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">多维查询</a>
            <ul class="dropdown-menu">
              <li><a href="query.html">查询</a></li>
              <li><a href="query_history.html">历史查询</a></li>
            </ul>
          </li>
          <li>
            <a href="index.html">统计分析</a>
          </li>
          <li>
            <a href="#">影像文本分析</a>
          </li>
          <li>
            <a href="UploadFile.jsp">知识库</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container" id="div-query">
    <div class="row">
      <div class="col-xs-12">

        <form>

          <div class="form _first-form" role="form">
            <div class="form-group">
              <label class="_left-title">性别</label>
              <label class="radio-inline _first-item">
                <input v-model="queryParm.sex" type="radio" value="不限"> 不限
              </label>
              <label class="radio-inline">
                <input v-model="queryParm.sex" type="radio" value="男"> 男
              </label>
              <label class="radio-inline">
                <input v-model="queryParm.sex" type="radio" value="女"> 女
              </label>
            </div>
          </div>

          <div class="form-inline" role="form">
            <div class="form-group" :class="{'has-error': ageMsg.length}">
              <label class="_left-title" for="multi-query-ageFrom">年龄</label>
              <div class="input-group input-group-sm _first-input">
                <span class="input-group-addon">从</span>
                <input v-model="queryParm.ageFrom" type="text" class="form-control" id="multi-query-ageFrom">
                <span class="input-group-addon">到</span>
                <input v-model="queryParm.ageTo" type="text" class="form-control" id="multi-query-ageTo">
              </div>
              <div class="help-block" :class="{'with-error': ageMsg.length}">{{ageMsg}}</div>
            </div>
          </div>

          <div class="form-inline" role="form" id="div-examInfo">
            <div class="form-group">
              <label class="_left-title">检查指标</label>
              <select v-model="queryParm.examType" class="form-control input-sm _first-select" :class="{loading: (formOptions.exam.examClass.length == 0)}">
                <option>不限</option>
                <option v-for="exam in formOptions.exam.examClass">
                  {{ exam }}
                </option>
              </select>
            </div>
          </div>
          
          <div class="form-inline" role="form">
            <div class="form-group">
              <label class="_left-title">检验指标</label>
              <select v-model="queryParm.labType" :class="{loading: (formOptions.lab.labClass.length == 0)}" @change="fetchSubLab" name="labName" class="form-control input-sm _first-select" id="sel-labInfo">
                <option>不限</option>
                <option v-for="lab in formOptions.lab.labClass">
                  {{ lab }}
                </option>
              </select>
              <template v-if="queryParm.labType != '不限'">
                <span>&nbsp;→&nbsp;</span>
                <select v-model="queryParm.labSubType" name="subLabName" class="form-control input-sm" :class="{loading: (formOptions.subLab.subLabClass.length == 0)}"  id="sel-subInfo">
                  <option>不限</option>
                  <option v-for="sub in formOptions.subLab.subLabClass">
                    {{ sub }}
                  </option>
                </select>
            
                <div class="input-group input-group-sm _first-item" :class="{'has-error': labMsg.length}">
                  <span class="input-group-addon">从</span>
                  <input v-model="queryParm.labValFrom" type="text" name="subNumFrom" class="form-control" id="multi-query-subNumFrom">
                  <span class="input-group-addon">到</span>
                  <input v-model="queryParm.labValTo" type="text" name="subNumTo" class="form-control" id="multi-query-subNumTo">
                </div>
                <div :class="{'text-danger': labMsg.length}" class="help-block">{{labMsg}}</div>
              </template>
            </div>
          </div>
          
          <div class="_button-row col-xs-12">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <button @click.prevent="multiQuery" :class="{'loading': queryResult.loading}" class="btn btn-success btn-sm btn-block" :disabled="!valided">查询</button>
            </div>
            <div class="col-xs-4"></div>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="table-responsive">
          <p v-show="showNoResult" class="no-result">没有查询到符合条件的患者</p>
          <table v-show="showResult" class="table table-bordered table-hover table-striped">
            <thead>
              <tr class="text-center">
                <td>姓名</td>
                <td>性别</td>
                <td>临床诊断</td>
                <td>住院号</td>
                <td>住院次数</td>
                <td>详情</td>
              </tr>
            </thead>
            <tbody>
    
              <tr class="text-center" v-for="result in queryResult.result">
                <td>{{ result.name }}</td>
                <td>{{ result.sex }}</td>
                <td>{{ result.diag }}</td>
                <td>{{ result.patientID }}</td>
                <td>{{ result.inHospitalCount }}</td>
                <td><a @click="jumpToDetail(result.patientID)">患者详情</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="js/multi_query.js"></script>
</body>

</html>
